<!DOCTYPE HTML>
<html>
  <head>
    <title>Welcome to LeanEngine!</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
  </head>
  <body>
    <div id="container">
      <h1>LeanEngine</h1>
      <p>This is a LeanEngine demo application.</p>
      <p><a href="/time">Routing example</a></p>
      <p><a href="/api/python-version">Example of having REST API return JSON object showing Python version</a></p>
      <p><a href="/todos">A simple todo demo</a></p>
    </div>
  </body>
</html>
